:root {
    --midnight: #1f2937;
    --saltpan: #f9faf8;
    --solitude: #e5e7eb;
    --dodger-blue: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}