:root {
    --midnight: #1f2937;
    --saltpan: #f9faf8;
    --solitude: #e5e7eb;
    --dodger-blue: #3882f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

p,
button {
    font-size: 18px;
}

.hero {
    background-color: var(--midnight);
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
}

section.hero > *,
section.carousel > * {
    max-width: 1000px;
}

.hero-header {
    margin: 24px 0;
}

.hero-main-headtext {
    color: var(--saltpan);
    font-size: 48px;
}

.hero-main-subtext,
.hero-header-link {
    color: var(--solitude);
}

.hero-header-logo {
    color: var(--saltpan);
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.hero-main-button {
    background-color: var(--dodger-blue);
    color: var(--saltpan);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

ul {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.hero-main {
    display: flex;
    margin: 112px 0;
}

.hero-main > * {
    flex: 50%;
}

.hero-main-left {
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero-main-right {
    background-color: var(--solitude);
    color: var(--midnight);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel */
section.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 80px;
    gap: 40px;
}

h2.carousel-heading {
    color: var(--midnight);
    font-size: 36px;
    font-weight: bolder;
}

.carousel-con {
    display: flex;
    gap: 40px;
}

.carousel-con-item {
    max-width: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.carousel-con-item-figure {
    border: 5px solid var(--dodger-blue);
    height: 175px;
    width: 175px;
    border-radius: 5px;
}

p.carousel-con-item-text {
    color: var(--midnight);
    opacity: 0.7;
    text-align: center;
}

/* Quote */
section.quote {
    background-color: var(--solitude);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

section.quote > * {
    max-width: 850px;
}

div.quote-maintext {
    font-size: 36px;
    font-style: italic;
    font-weight: italic;
    color: var(--midnight);
}

p.quote-author {
    width: 100%;
    font-weight: bold;
    font-size: 150%;
    text-align: right;
    padding-right: 24px;
}

/* CTA */
.cta-con {
    background-color: var(--dodger-blue);
    max-width: 1000px;
}